modeloapp/__pycache__/*
/apps/cliente/__pycache__/*
/apps/cliente/migrations/*
/apps/contrato/__pycache__/*
/apps/contrato/migrations/*
/apps/documento/__pycache__/*
/apps/documento/migrations/*
/apps/fornecedor/__pycache__/*
/apps/fornecedor/migrations/*
/apps/funcionario/__pycache__/*
/apps/funcionario/migrations/*
/apps/itemContrato/__pycache__/*
/apps/itemContrato/migrations/*
/apps/metodoPagamento/__pycache__/*
/apps/metodoPagamento/migrations/*
/apps/pagamento/__pycache__/*
/apps/pagamento/migrations/*
/apps/servico/__pycache__/*
/apps/servico/migrations/*